server:
  port: 8084

spring:
  application:
    name: FleetService
  datasource:
    url: jdbc:postgresql://localhost:5438/fleetdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
