server:
  port: 8083

spring:
  application:
    name: billing-service
  datasource:
    url: jdbc:postgresql://localhost:5437/billingdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  info:
    title: BillingService API
    description: Servicio de facturación y gestión de cobros LogiFlow
    version: 1.0.0
    contact:
      name: Equipo LogiFlow
      email: soporte@logiflow.com
