server:
  port: 8081

spring:
  application:
    name: AuthService
  datasource:
    url: jdbc:postgresql://localhost:5435/authdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000 # 1 day in milliseconds
  refresh-expiration: 604800000 # 7 days in milliseconds

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  info:
    title: AuthService API
    description: Servicio de autenticación y gestión de usuarios LogiFlow
    version: 1.0.0
    contact:
      name: Equipo LogiFlow
      email: soporte@logiflow.com
